// Import in component styles URL if you want to use it.

input.ng-touched.ng-invalid {
  background-color: var(--error-light);
  border-bottom: 2px solid var(--error-dark);
  box-shadow: 0px 0px 4px 1px var(--error-default) !important;
  color: var(--error-dark);

  &:hover,
  &:focus {
    border-bottom: 2px solid var(--error-default);
  }
}