.emoji {
  position: relative;
  width: 35px;
  height: 35px;
  z-index: 10;

  .circle-icon {
    color:rgb(248, 211, 84);
  }

  &__block {
    position: absolute;

    &--bottom {
      top: 50px;
      right: 0;
    }
  
    &--top {
      bottom: 50px;
      right: -50px;
    }
  }
}
