$primary-color: rgb(32, 196, 200);
$secondary-color: rgb(200, 36, 32);
$error-color: rgb(155, 0, 0);
$success-color: rgb(33, 165, 0);
$font-color: rgb(82, 82, 82);
$background-color: rgb(250, 250, 250);
