<ul *ngIf="notificationsList" class="notifications-container">
  <li *ngFor="let notification of notificationsList.reverse()" class="notification-item">
      <div class="notification__author">
        <img
        class="author-img"
        src="{{ notification.notificationAuthor.avatar | avatar }}"
        alt="User avatar"
        />
      </div>
      <div class="notification__message">
        <span class="author-username">
          {{ notification.notificationAuthor.username }}
        </span>
        <span *ngIf="notification.type === 'like'"> liked your post.</span>
        <span *ngIf="notification.type === 'comment'">commented your post.</span>
        <span *ngIf="notification.type === 'post'">added new post.</span>
        <span *ngIf="notification.type === 'follow'">followed you.</span>
      </div>
      <div class="notification__close">
        <div class="circle-icon delete-icon">
          <span (click)="closeNotification(notification.id)" class="material-icons">
            close
          </span>
        </div>
      </div>
  </li>
</ul>
