.delete-profile {
    position: relative;

    &__close {
        position: absolute;
        top: 6px;
        right: 6px;
    }
}

@media only screen and (max-width: 410px) {
    .main-form__body {
        .form-item:nth-child(2) {
            margin-top: 40px;
        }
    }

}