  <div class="container box-shadow">
    <div class="container__buttons">
      <a role="button" class="button primary small-btn">Small</a>
      <a role="button" class="button primary medium-btn">Medium</a>
      <a role="button" class="button primary big-btn">Big button</a>
      <a role="button" class="button disabled medium-btn">Disabled</a>
      <a role="button" class="button small-btn outline-primary">Small</a>
      <a role="button" class="button medium-btn outline-primary">Medium</a>
      <a role="button" class="button big-btn outline-primary">Big button</a>
    </div>
  </div>

<div class="container box-shadow">
  <app-create-post></app-create-post>
</div>
