@import "../../../../styles/constants";

.container {
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 100%;
  
  
  &__buttons {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .button {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 764px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
