.notifications-container {
    position: fixed;
    right: 30px;
    bottom: 100px;
    list-style: none;
    margin: 0;
    padding: 0;

    .notification-item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 350px;
        background-color: var(--background-secondary);
        color: var(--font-color-primary);
        border: 2px solid var(--background-default);
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
        box-shadow: 0 5px 10px 0 #00000081;
        border-radius: 5px;
        animation: fadein 2s;
        cursor: default;

        &:hover {
          background-color: var(--primary-default);
          border: 2px solid var(--primary-dark);
        }

        &__author {
          .author-img {
            margin: 0;
            margin-right: 10px;
          }
        }

        &__message {
            .author-username {
                cursor: pointer;
                color: var(--font-color-primary);
            }
        }
    }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
